assets
coverage
dist
lib
temp
types
node_modules
jspm_packages
bower_components
typings
.vscode
.env
.tea
.history
.idea
.svn
.DS_Store
*.tgz
*.swp
.npm
.yarn-integrity
.eslintcache
.stylelintcache
.grunt
.node_repl_history
.lock-wscript
.nyc_output
lib-cov
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pids
*.pid
*.seed
*.pid.lock
package.json.lerna_backup